<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- Userway accessibility widget -->
<script>
  (function(d){
     var s = d.createElement("script");
     /* uncomment the following line to override default position*/
     s.setAttribute("data-position", 3);
     /* uncomment the following line to override default size (values: small, large)*/
     s.setAttribute("data-size", "small");
     /* uncomment the following line to override default language (e.g., fr, de, es, he, nl, etc.)*/
     /* s.setAttribute("data-language", "null");*/
     /* uncomment the following line to override color set via widget (e.g., #053f67)*/
     /* s.setAttribute("data-color", "#2d68ff");*/
     /* uncomment the following line to override type set via widget (1=person, 2=chair, 3=eye, 4=text)*/
     s.setAttribute("data-type", "2");
     /* s.setAttribute("data-statement_text:", "Our Accessibility Statement");*/
     /* s.setAttribute("data-statement_url", "http://www.example.com/accessibility";*/
     /* uncomment the following line to override support on mobile devices*/
     s.setAttribute("data-mobile", true);
     /* uncomment the following line to set custom trigger action for accessibility menu*/
     /* s.setAttribute("data-trigger", "triggerId")*/
     s.setAttribute("data-account", "vPQMDH7akU");
     s.setAttribute("src", "https://cdn.userway.org/widget.js");
     (d.body || d.head).appendChild(s);})(document)
</script>
<noscript>
  Please ensure Javascript is enabled for purposes of
  <a href="https://userway.org">website accessibility</a>
</noscript>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<!--[if IE ]>
  <style>
    /* old IE unsupported flexbox fixes */
    .greedy-nav .site-title {
      padding-right: 3em;
    }
    .greedy-nav button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }
  </style>
<![endif]-->

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | relative_url }}{% endcapture %}
    {% endif %}
    <script src="{{ script_path }}"></script>
  {% endfor %}
{% endif %}
